.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 250);
}

.heading{
  font-family: 'Muli', sans-serif;
  display: flex;
}

.headingLogo{
  width: .75em;
  align-self: center;
}

.subtitle{
  font-family: 'Lora', serif;
  margin: .5em 0;
  color: hsl(200, 100%, 50%);
  transition: color 0.2s;
}

.subtitle:hover{
  color: hsl(200, 100%, 40%);
}

.subtitleLogo{
  height: 1em;
}

.link{
  text-decoration: none;
}