.toggleSidebar{
  display: flex;
  width: 40px;
  height: 100%;
  justify-content: center;
  background-color: rgb(128, 128, 128);
  cursor: pointer;
}

.hamburger{
  display:flex;
  width: 25px;
  height: 25px;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.hamburgerLine{
  width: 100%;
  height: 5px;
  background-color: black;
  transition: transform 0.3s linear;
  transform-origin: left;
}

.hamburgerOpen .hamburgerLine:first-child{
  transform: translate3d(10px, 1px, 0) rotate(135deg) scaleX(0.6);  
}

.hamburgerOpen .hamburgerLine:last-child{
  transform: translate3d(10px, -1px, 0)  rotate(-135deg) scaleX(0.6);  
}

.sidebar{
  width: 400px;
  max-width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  transform: translateX(-360px);
  transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #fff;
}

.sidebarOpen{
  transform: translateX(0);
}

.sidebarContent{
  width: 360px;
}